.example-container {
    /*width: 400px;*/
    height: 530px;
    margin: 10px;
    border: 1px solid #555;
}

.cursor-art {
    border: 1px;
    cursor: pointer;
}

.container {
    width: 220px;
    height: 530px;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 0.1px;
}

.example-small-box,
.example-large-box {
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-large-box {
    /*height: 490px;*/
    align-items: center;
    justify-content: center;
}

.mat-tab-group {
    margin-bottom: 48px;
    width: 90%;
}

.katex {
    height: 0.3px;
}