<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="container">
    <div *ngFor= "let i of historysIntegral">
      <img src="{{i.imgformula}}" class="cursor-art" (click)="resultEvent(i)">
    </div>
  </mat-drawer>
  <mat-drawer-content>
      <div class="container">
          <div class="jumbotron">
            <ng-katex [equation]="equation" [options]="options"></ng-katex>
            <div class="d-flex justify-content-center">
              
            </div>
          </div>
        </div>

  </mat-drawer-content>
</mat-drawer-container>
