<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="container">
    <div *ngFor="let i of historysIntegral">
      <ng-katex [equation]="i.equation" class="cursor-art" [options]="options" (click)="resultEvent(i)"></ng-katex>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="example-large-box mat-elevation-z4" *ngIf="equation">
      <div class="row col-sm-12">
        <div class="row col-sm-9 offset-1">
          <ng-katex [equation]="equation" [options]="options" class="katex"></ng-katex>
        </div>
        <div class="row mb-2 offset-1">
          <mat-tab-group mat-align-tabs="start">
              <mat-tab label="Rieman">
                  <app-rieman [valmin] = "valuemin" [valmax] = "valuemax" [valitera] = "valueitera" [valeval] = "eval" *ngIf = "pru"></app-rieman>
              </mat-tab>
              <mat-tab label="Simpson">
                  <app-simpson [valmin] = "valuemin" [valmax] = "valuemax" [valitera] = "valueitera" [valeval] = "eval" *ngIf = "pru"></app-simpson>
              </mat-tab>
              <mat-tab label="Trapecio">
                  <app-trapecio [valmin] = "valuemin" [valmax] = "valuemax" [valitera] = "valueitera" [valeval] = "eval" *ngIf = "pru"></app-trapecio>
              </mat-tab>
              <mat-tab label="Romberg">
                  <app-romberg [valmin] = "valuemin" [valmax] = "valuemax" [valitera] = "valueitera" [valeval] = "eval" *ngIf = "pru"></app-romberg>
              </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>