<mat-progress-bar mode="indeterminate" *ngIf="load"></mat-progress-bar>
<div class="container">
    <div class="jumbotron">
        <ng-katex [equation]="equation" [options]="options"></ng-katex>
        <div class="d-flex justify-content-center">
            <div class="row col-md-7 shadow p-3 mb-3 bg-white rounded">
                <div class="row">
                    <div class="cursor-art mb-2 button-special" *ngFor="let bu of buttons">
                        <div *ngIf="bu.name" (click)="formula(bu)">
                            <button type="button" class="btn btn-dark button-integral" [disabled]="bu.budisabled">{{bu.name}}</button>
                        </div>
                    </div>
                    <div class="cursor-art mb-2 button-special" *ngFor="let bu of buttonsSpecial">
                        <div *ngIf="bu.name" (click)="formula(bu)">
                            <button type="button" class="btn btn-dark button-integral" [disabled]="bu.budisabled">{{bu.name}}</button>
                        </div>
                    </div>
                </div>
                <!--<div class="row col-sm-4 border-right">
                    <div class="cursor-art col-sm-4 mb-2" *ngFor="let bu of buttons">
                        <div *ngIf="!bu.katex" (click)="formula(bu)">
                            <button type="button" class="btn btn-dark button-integral" [disabled]="bu.budisabled === 'disabled'">{{bu.name}}</button>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-7">
                    <div class="cursor-art col-sm-1 mb-2 button-special" *ngFor="let bu of buttonsSpecial">
                        <div *ngIf="bu.name" (click)="formula(bu)">
                            <button type="button" class="btn btn-dark button-integral" [disabled]="bu.budisabled === 'disabled'">{{bu.name}}</button>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="d-flex justify-content-center mb-2">
            <div class="row col-md-8 shadow p-3 mb-3 bg-white rounded">
                <div class="row col-sm-3 offset-1 border-right">
                    <mat-form-field class="example-form-field">
                        <input matInput type="number" placeholder="Valor Min" [(ngModel)]="valuemin" [disabled]="resultintegral">
                        <button mat-button *ngIf="valuemin" matSuffix mat-icon-button aria-label="Clear" (click)="valuemin=0">
                                  <mat-icon>close</mat-icon>
                                </button>
                    </mat-form-field>
                </div>
                <div class="row col-sm-3  offset-1 border-right">
                    <mat-form-field class="example-form-field">
                        <input matInput type="number" placeholder="Valor Max" [(ngModel)]="valuemax" [disabled]="resultintegral">
                        <button mat-button *ngIf="valuemax" matSuffix mat-icon-button aria-label="Clear" (click)="valuemax=0">
                                      <mat-icon>close</mat-icon>
                                    </button>
                    </mat-form-field>
                </div>
                <div class="row col-sm-3  offset-1">
                    <mat-form-field class="example-form-field">
                        <input matInput type="number" placeholder="Num. Itera." [(ngModel)]="valueitera" [disabled]="resultintegral">
                        <button mat-button *ngIf="valueitera" matSuffix mat-icon-button aria-label="Clear" (click)="valueitera=0">
                                          <mat-icon>close</mat-icon>
                                        </button>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-success" (click)="resultEvent()" [disabled]="usex">Mostrar</button>
            <button type="button" class="btn btn-danger" (click)="cleanOperation()">Limpiar</button>
        </div>
        <div class="d-flex justify-content-center" *ngIf="resultintegral">
            <app-graphics [eval]="eval" [resultintegral]="resultintegral"></app-graphics>
        </div>
        <!--<div class="d-flex justify-content-center mb-2" *ngIf = "imggrafica">
      <img src="{{imggrafica}}" alt="Img Integral" class="img-thumbnail">
    </div>-->
        <!--<div class="d-flex justify-content-center">
            <div class="row col-md-7 shadow p-3 mb-3 bg-white rounded">

                <button type="button" class="btn btn-success col-sm-2 offset-1" (click)="metod(i)" [disabled]="!(resultintegral && integralWolframalpha)" *ngFor="let i of metodosArray">{{i | titlecase}}</button>
            </div>
        </div>-->
        <div class="d-flex justify-content-center" *ngIf="resultintegral">
            <div class="row col-sm-15">
                <app-methods [valuemin]="valuemin" [valuemax]="valuemax" [valueitera]="valueitera" [eval]="eval" [resultintegral]="resultintegral" class="mb-2 example-large-box mat-elevation-z5"></app-methods>
            </div>
        </div>
    </div>
</div>