<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="container">
        <div *ngFor="let i of historysIntegral">
            <ng-katex [equation]="i.equation" class="cursor-art" [options]="options" (click)="resultEvent(i)"></ng-katex>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="example-large-box" *ngIf="equation">
            <ng-katex [equation]="equation" [options]="options" class="katex"></ng-katex>
            <div class="d-flex justify-content-center">
                <app-graphics [eval]="eval" [resultintegral]="resultintegral"></app-graphics>
            </div>
            <div class="row col-sm-15">
                <app-methods [valuemin]="valuemin" [valuemax]="valuemax" [valueitera]="valueitera" [eval]="eval" [resultintegral]="resultintegral" class="mb-2 example-large-box mat-elevation-z5"></app-methods>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>