<div class="container" *ngIf="!saveProperty">
    <div class="modal-header">
      <h3 mat-dialog-title *ngIf="!saveProperty">Trapecio </h3>
      <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div>
      hola como estas Trapecio?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" >pyo</button>
      <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
    </div>
  </div>