.button-integral {
    width: 40px;
    height: 40px;
}

.mat-slider {
    width: 300px;
}

.cursor-art {
    cursor: pointer;
}

.size-canvas {
    width: 600px;
    height: 350px;
}

.example-large-box {
    height: 490px;
}

.mat-tab-group {
    margin-bottom: 48px;
}